sedc-core/src/main/resources/com/sedc/collectors/finam/symbol/securities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="security">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="code" use="optional"/>
          <xs:attribute type="xs:string" name="board" use="optional"/>
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="shortName" use="optional"/>
          <xs:attribute type="xs:float" name="priceStep" use="optional"/>
          <xs:attribute type="xs:int" name="multiplier" use="optional"/>
          <xs:attribute type="xs:byte" name="decimals" use="optional"/>
          <xs:attribute type="xs:string" name="currency" use="optional"/>
          <xs:attribute type="xs:string" name="type" use="optional"/>
          <xs:attribute type="xs:string" name="isin" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="securities">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="security" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>