sedc-api/src/test/resources/schemas/issue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="issue" type="issue"/>
  <xs:complexType name="issue">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="field" name="field"/>
      <xs:element type="comment" name="comment" maxOccurs="unbounded" minOccurs="0"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
  <xs:complexType name="value">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="url" use="optional"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="role" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="comment">
    <xs:sequence>
      <xs:element type="xs:string" name="replies" minOccurs="0"/>
      <xs:element type="value" name="value" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="author" use="optional"/>
    <xs:attribute type="xs:string" name="issueId" use="optional"/>
    <xs:attribute type="xs:string" name="deleted" use="optional"/>
    <xs:attribute type="xs:string" name="text" use="optional"/>
    <xs:attribute type="xs:string" name="shownForIssueAuthor" use="optional"/>
    <xs:attribute type="xs:string" name="created" use="optional"/>
    <xs:attribute type="xs:string" name="updated" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="field">
    <xs:sequence>
      <xs:element type="value" name="value" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
</xs:schema>