sedc-api/src/test/resources/schemas/project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="project" type="project"/>
  <xs:complexType name="project">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="lead"/>
        <xs:attribute type="xs:string" name="assigneesUrl"/>
        <xs:attribute type="xs:string" name="subsystemsUrl"/>
        <xs:attribute type="xs:string" name="buildsUrl"/>
        <xs:attribute type="xs:string" name="versionsUrl"/>
        <xs:attribute type="xs:string" name="startingNumber"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>